<div class="wrap">
    <h2>My Run Trip - Création Trajet</h2>
    <form method="post" action="options.php"> 
        <?php @settings_fields('mrt_widget_journey-group'); ?>
        <?php @do_settings_fields('mrt_widget_journey-group'); ?>

        <table class="form-table">  
            <tr valign="top">
                <th scope="row"><label for="run_id">Identifiant de la course</label></th>
                <td><input type="text" name="run_id" id="run_id" value="<?php echo get_option('run_id'); ?>" /></td>
            </tr>
            <tr valign="top">
                <th scope="row"><label for="api_key">Clé partenaire</label></th>
                <td><input type="text" name="api_key" id="api_key" value="<?php echo get_option('api_key'); ?>" /></td>
            </tr>
            <tr valign="top">
                <th scope="row"><label for="display_size">Taille de l'affichage</label></th>
                <td>
					<select id="display_size" name="display_size">
						<option id="display_size_half" value="1" <?php if (get_option('display_size') == "1") echo ' selected'; ?>>
							Demi page
						</option>
						<option id="display_size_full" value="2" <?php if (get_option('display_size') == "2") echo ' selected';?>>
							Page entière
						</option>
					</select>
				</td>
            </tr>
        </table>

        <?php @submit_button(); ?>
    </form>
</div>